<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
         body {
        background-image: url('https://www.holidify.com/images/bgImages/AMARAVATHI.jpg');
        background-size: cover;
       
        background-repeat: no-repeat;
        background-attachment: fixed;
       }
#p1{
    position: absolute;
    left: 50px;
    top:-60px;
    font-size: 60px;
    font-style: italic;
   }
   #ap{
    background-color: beige;
    height: 295px;
    width: 420px;
    position: absolute;
    left:50px;
    bottom:330px;
    border-radius: 30px;
   }
   #ka{
    background-color: beige;
    height: 295px;
    width: 420px;
    position: absolute;
    left:550px;
    bottom:330px;
    border-radius: 30px;
   }
   #kl{
    background-color: beige;
    height: 295px;
    width: 420px;
    position: absolute;
    left:1050px;
    bottom:330px;
    border-radius: 30px;
   }
   #tn{
    background-color: beige;
    height: 295px;
    width: 420px;
    position: absolute;
    left:50px;
    bottom:10px;
    border-radius: 30px;
   }
   #ts{
    background-color: beige;
    height: 295px;
    width: 420px;
    position: absolute;
    left:550px;
    bottom:10px;
    border-radius: 30px;
   }
   #rd{
    background-color: beige;
    height: 295px;
    width: 420px;
    position: absolute;
    left:1050px;
    bottom:10px;
    border-radius: 30px;
   }
   #apimg{
    height:180px;
    width: 350px;
    position: absolute;
    left:35px;
    bottom:90px;
   }
   #apb,#apa,#apc,#apd,#ape,#apz{
    position: absolute;
    left:125px;
    bottom:20px;
    height: 50px;
    width: 160px;
    font-size:18px;
    border-radius:15px;
    font-style: italic;
   }
  
#apa:hover,
#apb:hover,
#apc:hover,
#apd:hover,
#ape:hover,
#apz:hover {
  background-color: #66cccc; 
  color: #ffffff;
}
#ap:hover,
#kl:hover,
#tn:hover,
#ts:hover,
#ka:hover,
#rd:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  transform: scale(1.05); /* Scale up the card on hover */
}
    </style>
    <title>Andhra Pradesh</title>
</head>
<body>
    <form action="/andhra" method="get">
    <div id="nav">
          <form action="/search" method="get">
            <p id="p1">Andhra Pradesh</p>
           </form>
    </div>
<hr style="border-color:black;position:relative;top: 60px;">

<div id="ap">
    <img id="apimg" src="https://3.bp.blogspot.com/-Io-d2oUNvCM/UA1GBmDxx6I/AAAAAAAAAbY/v7Xh8DBuvgA/s1600/dsc_0006.jpg">
    <a href="/tirupati"><button id="apa">Tirupathi</button>
</div>
<div id="ka">
    <img id="apimg" src="https://img.traveltriangle.com/blog/wp-content/uploads/2020/02/Waterfalls-In-Araku-Valley-14_feb.jpg">
    <a href="/araku"><button id="apb">Araku </button>
</div>
<div id="kl">
    <img id="apimg" src="https://talesofbackpacker.com/wp-content/uploads/2022/08/Vanjangi-Hill-Station.jpeg">
    <a href="/vanjangi"><button id="apc">Vanjangi</button>
</div>
<div id="tn">
    <img id="apimg" src="https://www.holidify.com/images/cmsuploads/compressed/shutterstock_1162596238_20200302103757.png">
    <a href="/vijayawada"><button id="apd">Vijayawada </button>
</div>
<div id="ts">
    <img id="apimg" src="http://www.go2india.in/upimg/1643.jpg">
    <a href="/vizag"><button id="ape">Visakhapatnam</button>
</div>
<div id="rd">
    <img id="apimg" src="https://imgmedia.lbb.in/media/2019/01/5c4ac94ea1e0c3704027c8d0_1548405070947.jpg">
    <a href="/rajahmundry"><button id="apz">Rajahmundry</button>
</div>
    


</form>
</body>
</html>
