<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
         body {
        background-image: url('https://img.traveltriangle.com/blog/wp-content/uploads/2019/04/Places-To-Visit-In-Summer-In-Karnataka-cover.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
       }
#p1{
    position: absolute;
    left: 50px;
    top:-60px;
    font-size: 60px;
    font-style: italic;
   }
   #ap{
    background-color: beige;
    height: 295px;
    width: 420px;
    position: absolute;
    left:50px;
    bottom:330px;
    border-radius: 30px;
   }
   #ka{
    background-color: beige;
    height: 295px;
    width: 420px;
    position: absolute;
    left:550px;
    bottom:330px;
    border-radius: 30px;
   }
   #kl{
    background-color: beige;
    height: 295px;
    width: 420px;
    position: absolute;
    left:1050px;
    bottom:330px;
    border-radius: 30px;
   }
   #tn{
    background-color: beige;
    height: 295px;
    width: 420px;
    position: absolute;
    left:50px;
    bottom:10px;
    border-radius: 30px;
   }
   #ts{
    background-color: beige;
    height: 295px;
    width: 420px;
    position: absolute;
    left:550px;
    bottom:10px;
    border-radius: 30px;
   }
   #pd{
    background-color: beige;
    height: 295px;
    width: 420px;
    position: absolute;
    left:1050px;
    bottom:10px;
    border-radius: 30px;
   }
   #apimg{
    height:180px;
    width: 350px;
    position: absolute;
    left:35px;
    bottom:90px;
   }
   #apb,#apc,#apa,#apd,#ape,#apf{
    position: absolute;
    left:125px;
    bottom:20px;
    height: 50px;
    width: 160px;
    font-size:18px;
    border-radius:15px;
    font-style: italic;
   }
 
   

#apb:hover,
#apa:hover,
#apc:hover,
#apd:hover,
#ape:hover,
#apf:hover {
  background-color: #66cccc; 
  color: #ffffff;
}
#ap:hover,
#kl:hover,
#tn:hover,
#ts:hover,
#ka:hover,
#pd:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  transform: scale(1.05); 
}
    </style>
    <title>Karnataka </title>
</head>
<body>
    <form action="/karnataka" method="get">
    <div id="nav">
          <form action="/search" method="get">
            <p id="p1">Karnataka</p>
           </form>
    </div>
<hr style="border-color:black;position:relative;top: 60px;">

<div id="ap">
    <img id="apimg" src="https://www.holidify.com/images/bgImages/MYSORE.jpg">
    <a href="/mysore"><button id="apa">Mysore</button></a>
    </div>
<div id="ka">
    <img id="apimg" src="https://www.holidify.com/images/bgImages/HAMPI.jpg">
    <a href="/hampi"><button id="apb">Hampi</button></a>
</div>
<div id="kl">
    <img id="apimg" src="https://www.holidify.com/images/bgImages/GOKARNA.jpg">
    <a href="/gokarna"><button id="apc">Gokarna</button></a>
</div>
<div id="tn">
    <img id="apimg" src="https://www.holidify.com/images/bgImages/CHIKMAGALUR.jpg">
    <a href="/chikmagalur"><button id="apd">Chikmagalur</button></a>
</div>
<div id="ts">
    <img id="apimg" src="https://www.holidify.com/images/bgImages/KABINI.jpg">
    <a href="/kabini"><button id="ape">Kabini</button></a>
</div>
<div id="pd">
    <img id="apimg" src="https://img.traveltriangle.com/blog/wp-content/uploads/2018/05/Cover2.jpg">
    <a href="/nandihills"><button id="apf">Nandi Hills</button></a>
</div>

</form>


</body>
</html>
