<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
         body {
        background-image: url('https://res.cloudinary.com/bit-blog/images/f_webp,q_auto/v1599043124/kerala-029375-vLYzRWcU/kerala-029375-vLYzRWcU.webp?_i=AA');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
       }
#p1{
    position: absolute;
    left: 50px;
    top:-60px;
    font-size: 60px;
    font-style: italic;
   }
   #ap{
    background-color: beige;
    height: 295px;
    width: 420px;
    position: absolute;
    left:50px;
    bottom:330px;
    border-radius: 30px;
   }
   #ka{
    background-color: beige;
    height: 295px;
    width: 420px;
    position: absolute;
    left:550px;
    bottom:330px;
    border-radius: 30px;
   }
   #kl{
    background-color: beige;
    height: 295px;
    width: 420px;
    position: absolute;
    left:1050px;
    bottom:330px;
    border-radius: 30px;
   }
   #tn{
    background-color: beige;
    height: 295px;
    width: 420px;
    position: absolute;
    left:50px;
    bottom:10px;
    border-radius: 30px;
   }
   #ts{
    background-color: beige;
    height: 295px;
    width: 420px;
    position: absolute;
    left:550px;
    bottom:10px;
    border-radius: 30px;
   }
   #pd{
    background-color: beige;
    height: 295px;
    width: 420px;
    position: absolute;
    left:1050px;
    bottom:10px;
    border-radius: 30px;
   }
   #apimg{
    height:180px;
    width: 350px;
    position: absolute;
    left:35px;
    bottom:90px;
   }
   #apb,#apa,#apc,#apd,#ape,#apf{
    position: absolute;
    left:125px;
    bottom: 20px;
    height: 50px;
    width: 160px;
    font-size:18px;
    border-radius:15px;
    font-style: italic;
   }
   

#apb:hover,
#apa:hover,
#apc:hover,
#apd:hover,
#ape:hover,
#apf:hover {
  background-color: #66cccc; 
  color: #ffffff;
}
#ap:hover,
#kl:hover,
#tn:hover,
#ts:hover,
#ka:hover,
#pd:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  transform: scale(1.05);
}


    </style>
    <title>Kerala </title>
</head>
<body>
    <form action="/kerala" method="get">
    <div id="nav">
          <form action="/search" method="get">
            <p id="p1">Kerala</p>
           </form>
    </div>
<hr style="border-color:black;position:relative;top: 60px;">

<div id="ap">
    <img id="apimg" src="https://www.ekeralatourism.net/wp-content/uploads/2018/03/Cochin.jpg">
    <a href="/cochin"><button id="apa">Cochin</button></a>
</div>
<div id="ka">
    <img id="apimg" src="https://www.ekeralatourism.net/wp-content/uploads/2015/12/munnar-1.png">
    <a href="/munnar"><button id="apb">Munnar</button></a>
</div>
<div id="kl">
    <img id="apimg" src="https://www.ekeralatourism.net/wp-content/uploads/2018/03/Kollam.jpg">
    <a href="/kollam"><button id="apc">Kollam</button></a>
</div>
<div id="tn">
    <img id="apimg" src="https://www.ekeralatourism.net/wp-content/uploads/2018/03/Thiruvananthapuram.jpg">
    <a href="/trivandrum"><button id="apd">Trivandrum</button></a>
</div>
<div id="ts">
    <img id="apimg" src="https://www.ekeralatourism.net/wp-content/uploads/2018/03/Thrissur.jpg">
    <a href="/trissur"><button id="ape">Trissur</button></a>
</div>
<div id="pd">
    <img id="apimg" src="https://www.holidaymonk.com/wp-content/uploads/2021/07/Tea-garden-walk-Wayanad-1536x1152.jpg">
    <a href="/wayanad"><button id="apf">Wayanad</button></a>
</div>
</form>



</body>
</html>