<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
         body {
        background-image: url('https://images.thrillophilia.com/image/upload/s--FdHYT9Ol--/c_fill,g_auto,h_600,q_auto,w_975/f_auto,fl_strip_profile/v1/images/photos/000/078/638/original/1608125268_shutterstock_1487153795.jpg.jpg');
        background-size: cover;
       
        background-repeat: no-repeat;
        background-attachment: fixed;
       }
#p1{
    position: absolute;
    left: 50px;
    top:-60px;
    font-size: 60px;
    font-style: italic;
   }
   #ap{
    background-color: beige;
    height: 295px;
    width: 420px;
    position: absolute;
    left:50px;
    bottom:330px;
    border-radius: 30px;
   }
   #ka{
    background-color: beige;
    height: 295px;
    width: 420px;
    position: absolute;
    left:550px;
    bottom:330px;
    border-radius: 30px;
   }
   #kl{
    background-color: beige;
    height: 295px;
    width: 420px;
    position: absolute;
    left:1050px;
    bottom:330px;
    border-radius: 30px;
   }
   #tn{
    background-color: beige;
    height: 295px;
    width: 420px;
    position: absolute;
    left:50px;
    bottom:10px;
    border-radius: 30px;
   }
   #ts{
    background-color: beige;
    height: 295px;
    width: 420px;
    position: absolute;
    left:550px;
    bottom:10px;
    border-radius: 30px;
   }
   #rd{
    background-color: beige;
    height: 295px;
    width: 420px;
    position: absolute;
    left:1050px;
    bottom:10px;
    border-radius: 30px;
   }
   #apimg{
    height:180px;
    width: 350px;
    position: absolute;
    left:35px;
    bottom:90px;
   }
   #apb,#apa,#apc,#apd,#ape,#apz{
    position: absolute;
    left:125px;
    bottom:20px;
    height: 50px;
    width: 160px;
    font-size:18px;
    border-radius:15px;
    font-style: italic;
   }
 
#apa:hover,
#apb:hover,
#apc:hover,
#apd:hover,
#ape:hover,
#apz:hover {
  background-color: #66cccc; 
  color: #ffffff;
}
#ap:hover,
#kl:hover,
#tn:hover,
#ts:hover,
#ka:hover,
#rd:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  transform: scale(1.05); /* Scale up the card on hover */
}
    </style>
    <title>Tamil Nadu</title>
</head>
<body>
    <form action="/tamilnadu" method="get">
    <div id="nav">
          <form action="/search" method="get">
            <p id="p1">Tamil Nadu</p>
           </form>
    </div>
<hr style="border-color:black;position:relative;top: 60px;">

<div id="ap">
    <img id="apimg" src="https://encrypted-tbn0.gstatic.com/licensed-image?q=tbn:ANd9GcSVV7acSG1b8Sw9hB9QxM5Afvl91nl6Fn1CWTnyOmJDzDzGtvwTeiQSezud6cPNILl7xKUfnK6lb_HKqMoXCQPs60N4yw">
    <a href="/kodaikanal"><button id="apa">Kodaikanal</button></a>
</div>
<div id="ka">
    <img id="apimg" src="https://assets.traveltriangle.com/blog/wp-content/uploads/2017/07/Pondicherry.jpg">
    <a href="/pondicherry"><button id="apb">Pondicherry</button></a>
</div>
<div id="kl">
    <img id="apimg" src="https://www.tourmyindia.com/states/tamilnadu/image/tamilnadu-banner.webp">
    <a href="/madurai"><button id="apc">Madurai</button></a>
</div>
<div id="tn">
    <img id="apimg" src="https://cdn1.goibibo.com/voy_ing/t_fs/tamil-nadu-coimbatore-149343899978o.jpeg">
    <a href="/coimbatore"><button id="apd">Coimbatore</button></a>
</div>
<div id="ts">
    <img id="apimg" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0e/94/8f/da/img-20170304-wa0027-largejpg.jpg?w=500&h=400&s=1">
    <a href="/kanyakumari"><button id="ape">Kanyakumari</button></a>
</div>
<div id="rd">
    <img id="apimg" src="https://www.oyorooms.com/travel-guide/wp-content/uploads/2019/10/Munnar.jpg">
    <a href="/ooty"><button id="apz">Ooty</button></a>
</div>



</form>

</body>
</html>

