<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         body {
        background-image: url('');
        background-size: cover;
        background-color: lightskyblue;
        background-repeat: no-repeat;
        background-attachment: fixed;
       }
#p1{
    position: absolute;
    left: 50px;
    top:-50px;
    font-size: 60px;
    font-style: italic;
   }
   #apimg{
    height:200px;
    width: 380px;
    position: absolute;
    top: 38px;
    left:35px;
    bottom:120px;
   }
   #i1{
    background-color: beige;
    height: 280px;
    width: 450px;
    position: absolute;
    left:500px;
    bottom:180px;
    margin: 60px;
    border-radius: 20px;
   }
   #i2{
    background-color: beige;
    height: 340px;
    width: 950px;
    padding: 40px;
    position: absolute;
    left:200px;
    bottom:-260px;
    border-radius: 30px;
    margin: 50px;
   }
   body{
    height: 1500px;
   }
   #i3{
    background-color: beige;
    height: 330px;
    width: 380px;
    padding: 40px;
    position: absolute;
    top: 1000px;
    left:240px;
    border-radius: 30px;
   }
   #i4{
    background-color: beige;
    height: 330px;
    width: 380px;
    padding: 40px;
    position: absolute;
    top: 1000px;
    left:800px;
    border-radius: 30px;
   }
   html, body {
    margin: 0;
    padding: 0;
    height: 137%;
    overflow: fixed;

    
}
.icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    </style>
</head>
<body>
    <form action="/chikmagalur" method="get">
    <div id="nav">
          <p id="p1">Chikmagalur</p>
         <hr style="border-color:black;position:relative;top: 70px;">
         <div id="i1">
            <img id="apimg" src="https://img.veenaworld.com/wp-content/uploads/2022/06/Places-to-Visit-in-Chikmagalur-800x530.webp">
        </div>
        <br><br><br><br><br>
        <div id="i2">
            <h2><strong><center>INFORMATION</center></strong></h2>
            <hr style="width: 950px;height: 1.5px;background-color: black;"><br>
            <p>Tourists often refer to this place as the "Coffee Land of Karnataka" as there are many coffee plantations located here. This place is situated at the foothills of Mullayangiri Range. <br> If you are looking for a quick retreat, this is one of the beautiful hill stations in Karnataka. <br>

                Best Time to Visit- Throughout the year <br>
                Ideal Vacation Duration- 1-2 days <br>
                Average expenses: Starting from ₹20,000 (4 days/3 nights) <br>
                Places to Visit- Baba Budangiri, Mullayangiri, Bhadra Wildlife Sanctuary, Hebbe Falls, Coffee Plantations <br>
                Things to Do- Take a tour of the Coffee Museum, visit the National Coffee Research Centre and take home some locally grown coffee, take a trip to Kudremukh National Park, a UNESCO World Heritage Site, and try river rafting at Bhadra River. <br>
                </p>
            
        </div>
        <div id="i3">
            <center><h2>WEATHER</h2></center><br>
            <hr style="width: 360px;height: 1.5px;background-color: black;">
            <div class="icon">
            <h1><%=temp%>°C</h1><img src="/day/default.png" alt="" srcset="" id="image">
            </div>
            <h2 class="climate"><%=climate%></h2>
                <h2>Humidity : <%=humidity%>%<br><br>Wind Speed : <%=windspeed%>kmph</h2>
        </div>
        <div id="i4">
            <center><h2>TRANSPORTATION</h2></center><br>
            <hr style="width: 360px;height: 1.5px;background-color: black;"><br>
            <p> <img src="https://img.icons8.com/?size=1x&id=oOAYqE64W2MO&format=png" height="25px" width="25px" alt="">&nbsp;&nbsp;By Air-Mangalore International Airport is 105 km from this hill station.<br><br>
                <img src="https://img.icons8.com/?size=1x&id=d8MqKVWJkyqN&format=png" alt="" height="25px" width="25px">&nbsp;&nbsp; By Train-Kadur station, which is 40 km from Chikmagalur, is the nearest train station.<br><br>
                <img src="https://img.icons8.com/?size=1x&id=f42OOoV1ACzO&format=png" alt="" height="25px" width="25px">&nbsp;&nbsp;By Road-You will easily get taxis and private and state buses to Chikmagalur from all the major cities in Karnataka to Chikmagalur. </p>
        </div>
    </form>
    <script>
        
        let image=document.getElementById("image");

        let climate=document.querySelector(".climate").textContent;
        if(climate=="Mist"){
            image.src="/day/Mist.png"
        }
        if(climate=="Patchy rain possible"){
            image.src="/day/Patchy.png"
        }
        if(climate=="Moderate rain"){
            image.src="/day/Moderate.png"
        }
        if(climate=="Light rain shower"){
            image.src="/day/patchy.png"
        }
        if(climate=="Partly cloudy"){
            image.src="/day/default.png"
        }
        if(climate=="Cloudy"){
            image.src="/day/Cloudy.png"
        }
        if(climate=="Overcast"){
            image.src="/day/Cloudy.png"
        }
        if(climate=="Sunny"){
            image.src="/day/Sunny.png"
        }
        if(climate=="Clear"){
            image.src="/day/Sunny.png"
        }
        if(climate=="Thundery outbreaks possible"){
            image.src="/day/Thunderstorm.png"
        }
        if(climate=="Fog"){
            image.src="/day/Fog.png"
        }
        if(climate=="Light rain"){
            image.src="/day/Patchy.png"
        }
        if(climate=="Moderate or heavy rain shower"){
            image.src="/day/Heavy.png"
        }
        if(climate=="Light drizzle"){
            image.src="/day/Drizzle.png"
        }
    
</script>
</body>
</html>